<h1 class="mt-4">Dashboard</h1>
<!-- <p class="lead mb-3">Welcome </p> -->
<p class="lead mb-3">Email <%= email %></p>
<a href="/list_form/form" class="btn btn-primary">List</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
