<div class="row mt-5">
    <div class="col-md-6 m-auto"> 
        <div class="card card-body text-center">
            <p>Create an account </p>
            <a href="/users/seekingRegister" class="btn btn-primary btn-block ">I Am Seeking to Help Resettlement Efforts</a>
            <br>
            <a href="/users/resttlingRegister" class="btn btn-secondary btn-block ">I Am Resttling and I Am Seeking Help</a>
        </div>
            <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>

    </div>
</div>